<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />>
  </head>
  <body style="width:40%">
    <div>
      <h1><%= title %>  <a href="/">Home</a></h1>
    </div>

