<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

  </head>
  <body>

    <div class="jumbotron jumbotron-fluid">
	  <div class="container">
		<h1 class="display-4"><%= title %></h1>
		
	  </div>
	</div>
    

	<nav class="navbar navbar-default" role="navigation">
	  <div class="container-fluid">
	  
		<div class="navbar-header">
			<a class="navbar-brand" href="#">
				Go To
			</a>

			<ul class="nav navbar-nav">
				<li><a href="/">Home</a></li>
				<li><a href="/create_event">Create Event</a></li>
				<li><a href="/search_event">Search Event</a></li>
				<li><a href="/search_client">Search Client</a></li>
				<li><a href="/manage_suppliers">Manage Suppliers</a></li>
			</ul>
		</div>

	  </div>
    </nav>


