<%- include('_head.ejs', {title: 'add supplier'}) %>


<form method='post'>
  Id: <input type="number" name="ID">
  <br>
  Name: <input type="text" name="Name">
  <br>
  Contact Name: <input type="text" name="ContactName">
  <br>
  Contact Phone: <input type="text" name="ContactPhone">
  <br>
 
  <input type="submit" value="Add">
</form> 

<%- include _tail.ejs %>