<%- include('_head.ejs', {title: 'Create Supplier'}) %>
<form method="post">
    <div class="w3-container light-border">
        <table class="table table-hovered">
            <tbody>
            <tr>
                <th scope="row">Name:</th>
                <td><input type="text" name="supplier_name"></td>
            <tr>
                <th scope="row">Contact Name:</th>
                <td><input type="text" name="supplier_contact_name"></td>
            <tr>
                <th scope="row">Contact Phone:</th>
                <td><input type="text" name="phone_num"></td>
            </tbody>
        </table>

        <div class="w3-container light-border">
            <h2>Item to provide</h2>
            <table class="table table-hovered">
                <tbody>
                <tr>
                    <th scope="row">Type:</th>
                    <td><input type="text" name="type"></td>
                <tr>
                    <th scope="row">Name:</th>
                    <td><input type="text" name="item_name"></td>
                <tr>
                    <th scope="row">Image:</th>
                    <td><input type="text" name="image"></td>
                <tr>
                    <th scope="row">Length:</th>
                    <td><input type="text" name="length"></td>
                <tr>
                    <th scope="row">Price:</th>
                    <td><input type="text" name="price"></td>
                </tbody>
            </table>
        </div>
    </div>

</form>


<%- include _tail.ejs%>