<%- include('_head.ejs', {title: 'Create Client'}) %>
<form method='post'>
    First Name:
    <br>
    Last Name:
    <br>
    Email:
    <br>
    Billing method:
    <br>
    <input type="radio" name="billing" value="debit"> Debit
    <input type="radio" name="billing" value="cash"> Cash
    <input type="radio" name="billing" value="credit"> Credit
    <br>
    <input type="button" value="Cancel">
    <input type="button" value="Done">
</form>
<%- include _tail.ejs%>