<%- include _head.ejs %>
  <p>Welcome. Try This!</p>
  <a href="/create_event">Book Event</a>
  <a href="/search_event">Search Event</a>
<br>
  <a href="/create_client">Register client</a>
  <a href="/add_supplier">Add supplier</a>
<br>
  <a href="/list_client">List client</a>
<%- include _tail.ejs %>