<%- include _head.ejs %>
  <p>Welcome. Try This!</p>
  <a href="/create_event">Create Event</a>
  <a href="/search_event">Search Event</a>
  <a href="/search_client">Search Client</a>
<%- include _tail.ejs %>
