<%- include('_head.ejs', {title: 'Search Event'}) %>
<form method='post'>
  Subject: <input type="text" name="Subject">
  <br>
  Type: <input type="text" name="Type">
  <br>
  Client: <input type="text" name="Client">
  <br>
  Location: <input type="text" name="Location">
  <br><br>
  <input type="submit" value="Submit">
</form> 
<%- include _tail.ejs %>